.instructor {
	padding: 1.5em 0;

	.time {
		margin-bottom: 1em;

		@media #{$medium-up} {
			margin-bottom: 0;
		}
	}

	.icon-party {
		width: 1.5625em;
		height: 1.5625em;
		display: inline-block;
		margin: .21em .8em 0 0;
	}

	.b2 {
		display: inline-block;
		vertical-align: top;
		margin: .25em 0 0;

		span {
			display: block;
			@include b-reg;
			line-height: 1.5em;
		}

		a {
			display: block;
			line-height: 1.5em;
		}
	}
}