body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a {
	color: $pink;
	@include b-reg;
	font-size: 100%;

	&:hover, &:focus {
		color: $warm-gray;
	}
}

// Typography
h1 {
	@include b-bold;
	@include font-size(48);
	text-transform: uppercase;
}

h2 {
	@include b-bold;
	@include font-size(36);
	text-transform: uppercase;
}

h3 {
	@include b-reg;
	@include font-size(48);
	letter-spacing: -.025em;
}

//etc.