---
layout: default
title: Zumba &reg; Tech
description: Zumba Tech team post about experience, tools and open source projects from the Zumba company
author: cjsaylor
notitle: true
---

<div class="row">
	<div class="col-md-8 col-md-offset-2">
			{% for post in paginator.posts %}
			<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
				<h2><a href="{{site.url}}{{ post.url }}/" itemprop="url">{{ post.title }}</a></h2>
				<p>by <b><span itemprop="name">{{ site.authors[post.author].name }}</span></b> on <time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y"}}</time></p>
				<p>{{ post.excerpt }}</p>
			</article>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<ul class="pager">
			<li class="previous {% if paginator.previous_page %}{% else %}disabled{% endif %}">
				<a href="{% if paginator.previous_page %}{% if paginator.previous_page == 1 %}{{ site.url }}{% else %}/page{{ paginator.previous_page }}{% endif %}{% else %}#{% endif %}">&larr; Newer</a></li>
			<li class="next {% if paginator.next_page %}{% else %}disabled{% endif %}"><a href="{% if paginator.next_page %}/page{{ paginator.next_page }}{% else %}#{% endif %}">Older &rarr;</a></li>
		</ul>
	</div>
</div>
