<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="{{ site.authors[page.author].name }}">
		{% if page.tags %}
		<meta name="keywords" content="{{ page.tags | join:',' | replace:'-',' ' }}">
		{% endif %}
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		<link href="http://feeds.feedburner.com/zumba_engineering" type="application/atom+xml" rel="alternate" title="Blog Posts Feed">
		{% if page.is_blog %}
		<link href="{{ site.url }}{{ page.url }}/" rel="canonical">
		{% else %}
		<link href="{{ site.url }}{{ page.url }}" rel="canonical">
		{% endif %}
		<link rel="license" href="{{ site.url }}/licenses/zumba_mit_license.html">

		<!-- v2.0.4 -->
		<link href="http://daigon.s3.amazonaws.com/developer/public/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://daigon.s3.amazonaws.com/developer/public/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="{{ site.url }}/css/screen.css" rel="stylesheet">

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

		{% if site.analytics_code %}{% if site.url == 'http://engineering.zumba.com' %}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ site.analytics_code }}']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}{% endif %}
	</head>

	<body itemscope itemtype="http://schema.org/WebPage">
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand header-brand" href="{{ site.url }}/" rel="home">
							<img src="{{ site.url }}/img/main-logo-light.jpg" alt="Zumba Fitness">
						</a>
						<nav class="nav-collapse" itemscope itemtype="http://schema.org/SiteNavigationElement">
							<ul class="nav">
								<li><a href="{{ site.url }}/blog.html">Blog</a></li>
								<li><a onclick="_gaq.push(['_trackEvent', 'GitHub', 'site'])" href="https://github.com/zumba">Open Source</a></li>
								<li><a onclick="_gaq.push(['_trackEvent', 'Careers', 'site'])" href="{{ site.url }}/careers.html">Join The Team</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>

			<div class="subheader">
				<div class="container">
					<div class="row">
						<div class="span12">
							{% if page.notitle %}
							<h1 class="page-title">Engineering</h1>
							{% else %}
							<h2 class="page-title">Engineering</h2>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="container main">
			<br>
			<div class="row">
				{% if page.type %}
				<div class="span9" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/{{ page.type }}">
				{% else %}
				<div class="span9" itemprop="mainContentOfPage">
				{% endif %}
					{{ content }}
				</div>
				<div class="span3">
					<aside class="well sidebar-nav">
						<nav>
							<ul class="nav nav-list">
								<li class="nav-header">Navigation</li>
								<li><a href="{{ site.url }}/blog.html">Blog</a></li>
								<li><a onclick="_gaq.push(['_trackEvent', 'GitHub', 'site'])" href="https://github.com/zumba">Open Source</a></li>
								<li><a onclick="_gaq.push(['_trackEvent', 'Careers', 'site'])" href="{{ site.url }}/careers.html">Join The Team</a></li>
								<li class="nav-header">Recent Posts</li>
								{% for post in site.posts limit:5 %}
								<li><a onclick="_gaq.push(['_trackEvent', 'Recent Post', 'click', '{{ post.title }}'])" href="{{ site.url }}{{ post.url }}/">{{ post.title }}</a></li>
								{% endfor %}
								<li class="nav-header">Zumba</li>
								<li><a onclick="_gaq.push(['_trackEvent', 'Zumba Site', 'site'])" href="http://www.zumba.com">Zumba.com</a></li>
							</ul>
						</nav>
					</aside>
				</div>
			</div>
		</div> <!-- /container -->

		<footer>
			<div class="container">
				<div class="row">
					<div class="span3">
						<a href="{{ site.url }}/"><img src="{{ site.url }}/img/main-logo.png" alt="Zumba Fitness"></a>
					</div>
					<div class="span3">
						<h4>Engineering at Zumba Fitness<sup>&reg;</sup></h4>
						<p>Zumba Fitness<sup>&reg;</sup> is dedicated to delivering the best technology to its customers.</p>
					</div>
					<div class="span3">
						<h4>Contact Us</h4>
						<a onclick="_gaq.push(['_trackEvent', 'Careers', 'email'])" href="mailto:{{ site.career_email }}">{{ site.career_email }}</a>
					</div>
					<div class="span3">
						<a href="https://twitter.com/zumba" class="twitter-follow-button" data-show-count="false">Follow @zumba</a><br>
						<a href="https://twitter.com/zumbatech" class="twitter-follow-button" data-show-count="false">Follow @zumbatech</a>
					</div>
				</div>
			</div>
			<br>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="span8">
							Copyright &copy;
							<span itemprop="copyrightYear">2012</span>
							<span itemprop="copyrightHolder publisher">Zumba Fitness, LLC</span>.
							All rights reserved.
						</div>
						<nav class="span4" style="text-align: right">
							<a onclick="_gaq.push(['_trackEvent', 'Feed', 'click'])" href="http://feeds.feedburner.com/zumba_engineering">Atom Feed</a>
							| <a href="{{ site.url }}/blog.html">Blog</a>
							| <a onclick="_gaq.push(['_trackEvent', 'GitHub', 'site'])" href="https://github.com/zumba">Open Source</a>
							| <a onclick="_gaq.push(['_trackEvent', 'Careers', 'site'])" href="{{ site.url }}/careers.html">Join The Team</a>
							| <a href="{{ site.url }}/privacy.html">Privacy</a>
						</nav>
					</div>
				</div>
			</div>
		</footer>

		<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
		<script src="http://daigon.s3.amazonaws.com/developer/public/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://analytics-api-samples.googlecode.com/svn/trunk/src/tracking/javascript/v5/social/ga_social_tracking.js"></script>
		<script type="text/javascript">
			$(function() {
				$('ul.job-list li a').on('click', function(e) {
					e.preventDefault();
					var $this = $(this);
					var job = $this.parent().data('job-desc');
					$('ul.job-list li').removeClass('active');
					$this.parent().addClass('active');
					$('.job').hide();
					$('#' + job).show();
					window.location.hash = 'job-' + job + '/';
				});
				console.log(window.location.hash);
				if (window.location.hash.indexOf('job-') > 0) {
					$(window.location.hash.substr(0, window.location.hash.length - 1)).trigger('click');
				}
			});
		</script>

		{% if site.share_twitter == true %}
		<!-- Twitter -->
		<script type="text/javascript">
			window.twttr = function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0];
				if(!d.getElementById(id)){
					js=d.createElement(s);
					js.id=id;
					js.src="//platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js,fjs);
				}
				return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
			}(document,"script","twitter-wjs");
			twttr.ready(function(twttr) {
				_ga.trackTwitter(); // Google Analytics tracking
				twttr.events.bind('follow', function (event) { // Google sample do not track follow actions
					_gaq.push(_ga.getSocialActionTrackers_('twitter', 'follow-' + event.data.screen_name));
				});
			});
		</script>
		{% endif %}
		{% if site.share_google == true %}
		<!-- Google Plus -->
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
		{% endif %}
		{% if site.share_facebook == true %}
		<!-- Facebook -->
		<div id="fb-root"></div>
		<script type="text/javascript">
			window.fbAsyncInit = function() {
				_ga.trackFacebook(); // Google Analytics tracking
			}
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		{% endif %}
		{% if site.share_reddit == true %}
		<!-- Reddit -->
		<script type="text/javascript">
			// Fix the layout from Reddit
			$('iframe[src*="reddit"]').attr('height', 20);
		</script>
		{% endif %}
	</body>
</html>
