---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="name headline">{{ page.title }}</h1>
		<time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
		<address class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
			<img itemprop="image" id="author_image" src="https://secure.gravatar.com/avatar/{{ site.authors[page.author].gravatar }}?s=40&amp;d=mm" alt="{{ site.authors[page.author].name }}">
			By <span itemprop="name">{{ site.authors[page.author].name }}</span> ({{ page.author }})
			<div class="author_sites">
				{% if site.authors[page.author].github %}
				<a rel="author" itemprop="url" href="https://github.com/{{ site.authors[page.author].github }}"><img src="{{ site.url }}/img/github.png" alt="GitHub Profile"></a>
				{% endif %}
				{% if site.authors[page.author].twitter %}
				<a rel="author" itemprop="url" href="https://twitter.com/{{ site.authors[page.author].twitter }}"><img src="{{ site.url }}/img/twitter.png" alt="Twitter Profile"></a>
				{% endif %}
				{% if site.authors[page.author].gplus %}
				<link rel="author" itemprop="url" href="https://plus.google.com/{{ site.authors[page.author].gplus }}">
				{% endif %}
			</div>
		</address>
	</header>

	<div id="body" itemprop="articleBody">
		{{ content }}
	</div>

	<section class="post_share">
		{% if site.share_twitter == true %}<a href="https://twitter.com/share" class="twitter-share-button" data-via="zumbatech">Tweet</a>{% endif %}
		{% if site.share_google == true %}<div class="g-plusone" data-size="medium"></div>{% endif %}
		{% if site.share_facebook == true %}<div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>{% endif %}
		{% if site.share_reddit == true %}<script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"> </script>{% endif %}
	</section>
	<hr>
	<section class="post_nav">
		{% if page.previous.url %}
		&laquo;&nbsp;<a href="{{ site.url }}{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
		{% endif %}

		{% if page.previous.url %}{% if page.next.url %}
			|
		{% endif %}{% endif %}

		{% if page.next.url %}
		<a href="{{ site.url }}{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
		{% endif %}
	</section>

	<section class="comments">
		<h2>Comments</h2>
		<div id="disqus_thread"></div>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
</article>

<script type="text/javascript">
	var disqus_shortname = '{{ site.disqus_short_name }}';
	var disqus_identifier = '{{ site.url }}{{ page.url }}';

	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
