---
layout: default
---

<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="name headline">{{ page.title }}</h1>
		<time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
		<address itemprop="author" itemscope itemtype="http://schema.org/Person">
			By <a rel="author" itemprop="url" href="https://github.com/{{ page.nickname }}"><span itemprop="name">{{ page.author }}</span></a>
		</address>
	</header>

	<div itemprop="articleBody">
		{{ content }}
	</div>

	<section class="post_share">
		{% if site.share_twitter == true %}<a href="https://twitter.com/share" class="twitter-share-button" data-via="zumbatech">Tweet</a>{% endif %}
		{% if site.share_google == true %}<div class="g-plusone" data-size="medium"></div>{% endif %}
		{% if site.share_facebook == true %}<div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>{% endif %}
	</section>
	<section class="post_nav">
		{% if page.previous.url %}
		&laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
		{% endif %}

		{% if page.previous.url %}{% if page.next.url %}
			|
		{% endif %}{% endif %}

		{% if page.next.url %}
		<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
		{% endif %}
	</section>

	<section class="comments">
		<h2>Comments</h2>
		<div id="disqus_thread" itemprop="review" itemscope itemtype="http://schema.org/Review"></div>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
</article>

<script type="text/javascript">
	var disqus_shortname = '{{ site.disqus_short_name }}';
	var disqus_identifier = '{{ site.url }}{{ page.url }}';

	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
